<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Storyteller</h1>
    <form action="/ai_story" method="post">
        <input type="text" name="childname" placeholder="Enter your child's name" required />
        <input type="text" name="monster" placeholder="Enter your monster here" required />
        <input type="submit" value="Generate story" />
    </form>
</body>
</html>