{% extends "base.html" %}

{% block content %}
<div class="text-center">
<h2 class="mt-5 text-center"> Register New User </h2>
</div>
<form action="/login" method="post">
    <div class="row p-5 justify-content-center">
        <div class="col">
            <p>
                {{form.username.label}} <br>
                {{form.username(size=30)}}
            </p>
            <p>
                {{form.password.label}} <br>
                {{form.password(size=30)}}
            </p>
            <p>
                {{form.gender.label}} <br>
                {{form.gender()}}
            </p>
            <p>
                {{form.age.label}} <br>
                {{form.age()}}
            </p>
            <p>
                {{form.routine.label}} <br>
                {{form.routine()}}
            </p>
                <br>
                {{form.submit()}} 
            
        </div>
    </div>  
</form>

{% endblock %}
