{% extends "base.html" %}

{% block content %}

<h2 class="mt-5 text-center"> Sign Up</h2>
<form action="" method="post">
    <div class="row p-5 justify-content-center">
        <div class="col-6">
            <p>
                {{form.username.label}} <br>
                {{form.username(class_="form-control", size=30)}}
            </p>
            <p>
                {{form.password.label}} <br>
                {{form.password(class_="form-control", size=30)}}
            </p>
                <br>
                {{form.submit(class_="form-control")}} 
            
        </div>
    </div>  
</form>

{% endblock %}
